<%- include('partials/_header'); -%>
<div class="container">
  <% data.forEach((tabla) => { %>
  <h1><%=  tabla.Tables_in_goko_operation %></h1>
  <% })  %>
</div>
<%- include('partials/_footer'); -%>